# Questões Práticas

## Quais questões irei fazer?

In [2]:
def questoes(matricula):
    q = []
    for c in matricula[-6:]:
        n = int(c) + 1
        while n in q:
            n += 1
        q.append(n)
    q.sort()
    return q


print("Minhas questões:", questoes("5432123456"))

Minhas questões: [2, 3, 4, 5, 6, 7]

## Importações

In [1]:
import io
import sqlite3
import pandas as pd

conn = sqlite3.connect('tp1.db')
cursor = conn.cursor()

# f = io.open('despesas_publicas_tp1.sql', 'r', encoding='ISO-8859-1')
# sql = f.read()
# cursor.executescript(sql)

## Questão 2
Liste o valor total de despesas públicas por função (nome) e subfunção (nome), apenas nos casos em que esse valor total excedeu 200 mil reais.

In [2]:
query = "SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL\
         FROM DESPESA_PUBLICA NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN FUNCAO NATURAL JOIN SUBFUNCAO\
         GROUP BY NOME_FUNCAO, NOME_SUBFUNCAO HAVING VALOR_TOTAL > 200000;"

df = pd.read_sql_query(query, conn);
df

          NOME_FUNCAO           NOME_SUBFUNCAO  VALOR_TOTAL
0  Assistência social  Assistência comunitária    227883.77
1            Educação          Educação básica    334262.06

## Questão 3
Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os mesmos, ordenando de forma decresce valor.

In [4]:
query = "SELECT NOME_ORGAO, SUM(VALOR_DESPESA) AS VALOR_TOTAL\
         FROM DESPESA_PUBLICA NATURAL JOIN ORGAO\
         WHERE ANO_DESPESA = 2018\
         GROUP BY NOME_ORGAO\
         ORDER BY VALOR_TOTAL DESC;"

df = pd.read_sql_query(query, conn);
df

                                       NOME_ORGAO  VALOR_TOTAL
0                            Ministério da Defesa    353376.70
1            Ministério do Desenvolvimento Social    278586.35
2   Ministério da Agricultura, Pecuária e Abastec     90836.51
3                          Ministério da Educação     64007.82
4                             Ministério da Saúde     50971.19
5   Ministério da Ciência, Tecnologia, Inovações          0.00
6                           Ministério da Fazenda         0.00
7               Ministério da Integração Nacional         0.00
8       Ministério da Justiça e Segurança Pública         0.00
9              Ministério das Relações Exteriores         0.00
10                    Ministério do Meio Ambiente         0.00
11                Ministério dos Direitos Humanos         0.00
12  Ministério dos Transportes, Portos e Aviação          0.00
13                       Presidência da República         0.00

## Questão 4
Liste o mês e ano, modalidade, programa de governo e valor de todas as despesas do órgao Ministério da Fazenda no primeiro semestre de 2018

In [ ]:
query = "SELECT MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, NOME_PROGRAMA_GOVERNO, VALOR_DESPESA\
         FROM DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO\
         WHERE NOME_ORGAO = 'Ministério da Fazenda' AND ANO_DESPESA = 2018 AND MES_DESPESA <= 6;"

df = pd.read_sql_query(query, conn);
df

## Questão 7
Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos nas despesas públicas desses órgãos. Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no período.

In [ ]:
query = "SELECT NOME_ORGAO, COUNT(*)\
         FROM (\
             SELECT DISTINCT NOME_ORGAO, COD_PROGRAMA_GOVERNO\
             FROM DESPESA_PUBLICA NATURAL LEFT JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO\
             WHERE VALOR_DESPESA > 0\
         )\
         GROUP BY NOME_ORGAO"

df = pd.read_sql_query(query, conn);
df

## Questão 8
Liste os nomes das subfunções das despesas públicas envolvidas para cada programa de governo. Sua consulta deve retornar o nome do programa de governo, a subfunção da despesa, a quantidade de entradas de despesas públicas e o valor total dessas despesas.

In [ ]:
query = "SELECT NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, COUNT(*), SUM(VALOR_DESPESA)\
         FROM DESPESA_PUBLICA NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO NATURAL JOIN PROGRAMA_GOVERNO\
         GROUP BY NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO"

df = pd.read_sql_query(query, conn);
df

## Questão 9
Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que órgão responsável é aquele que possui o maior número de órgãos subordinados.

In [5]:
query = "SELECT COD_DESPESA, MES_DESPESA, ANO_DESPESA, MODALIDADE_DESPESA, VALOR_DESPESA\
         FROM DESPESA_PUBLICA NATURAL JOIN (\
             SELECT COD_ORGAO, MAX(QTD_ORGAOS_SUBORDINADOS)\
             FROM ORGAO\
         )"

df = pd.read_sql_query(query, conn);
df

,COD_DESPESA,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,196,10,2018,Reserva de Contingência,0.0
1,197,1,2018,Reserva de Contingência,0.0
2,198,2,2018,Reserva de Contingência,0.0
3,199,3,2018,Reserva de Contingência,0.0
4,200,4,2018,Reserva de Contingência,0.0
5,201,5,2018,Reserva de Contingência,0.0
6,202,6,2018,Reserva de Contingência,0.0
7,203,7,2018,Reserva de Contingência,0.0
8,204,9,2018,Reserva de Contingência,0.0
9,205,10,2018,Reserva de Contingência,0.0
10,206,11,2018,Reserva de Contingência,0.0
11,207,12,2018,Reserva de Contingência,0.0
12,208,1,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
13,209,6,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
14,210,7,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
15,211,8,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
16,212,9,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
17,213,11,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
18,214,12,2018,APLICACOES DIRETAS - OPER.INTRA-ORCAMENTARIAS,0.0
19,215,1,2018,Reserva de Contingência,0.0
20,216,2,2018,Reserva de Contingência,0.0
21,217,3,2018,Reserva de Contingência,0.0
22,218,4,2018,Reserva de Contingência,0.0
23,219,5,2018,Reserva de Contingência,0.0
24,220,6,2018,Reserva de Contingência,0.0
25,221,7,2018,Reserva de Contingência,0.0
26,222,8,2018,Reserva de Contingência,0.0
27,223,9,2018,Reserva de Contingência,0.0
28,224,10,2018,Reserva de Contingência,0.0
29,225,11,2018,Reserva de Contingência,0.0
...,...,...,...,...,...
264,460,3,2018,Reserva de Contingência,0.0
265,461,4,2018,Reserva de Contingência,0.0
266,462,5,2018,Reserva de Contingência,0.0
267,463,6,2018,Reserva de Contingência,0.0
268,464,7,2018,Reserva de Contingência,0.0
269,465,8,2018,Reserva de Contingência,0.0
270,466,9,2018,Reserva de Contingência,0.0
271,467,10,2018,Reserva de Contingência,0.0
272,468,11,2018,Reserva de Contingência,0.0
273,469,12,2018,Reserva de Contingência,0.0
274,470,1,2018,Reserva de Contingência,0.0
275,471,2,2018,Reserva de Contingência,0.0
276,472,3,2018,Reserva de Contingência,0.0
277,473,4,2018,Reserva de Contingência,0.0
278,474,5,2018,Reserva de Contingência,0.0
279,475,6,2018,Reserva de Contingência,0.0
280,476,8,2018,Reserva de Contingência,0.0
281,477,12,2018,Reserva de Contingência,0.0
282,478,1,2018,Reserva de Contingência,0.0
283,479,2,2018,Reserva de Contingência,0.0
284,480,3,2018,Reserva de Contingência,0.0
285,481,4,2018,Reserva de Contingência,0.0
286,482,5,2018,Reserva de Contingência,0.0
287,483,6,2018,Reserva de Contingência,0.0
288,484,7,2018,Reserva de Contingência,0.0
289,485,8,2018,Reserva de Contingência,2400.0
290,486,9,2018,Reserva de Contingência,0.0
291,487,10,2018,Reserva de Contingência,0.0
292,488,11,2018,Reserva de Contingência,0.0
293,489,12,2018,Reserva de Contingência,0.0

# Questões Teóricas
## Conversão de Álgebra Relacional para SQL

## Questão 1
$\pi$ NOME_FUNCAO, NOME_SUBFUNCAO(FUNCAO $\bowtie$ DETALHAMENTO_FUNCAO $\bowtie$ SUBFUNCAO)

In [ ]:
query = "SELECT DISTINCT NOME_FUNCAO, NOME_SUBFUNCAO\
        FROM FUNCAO NATURAL JOIN DETALHAMENTO_FUNCAO NATURAL JOIN SUBFUNCAO"

df = pd.read_sql_query(query, conn);
df

## Questão 2
$\pi$ MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO(PROGRAMA_GOVERNO
$\bowtie$ $\sigma$ MODALIDADE_DESPESA='Reserva de Contingência'(DESPESA_PUBLICA))

In [ ]:
query = "SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO\
        FROM PROGRAMA_GOVERNO NATURAL JOIN DESPESA_PUBLICA\
        WHERE MODALIDADE_DESPESA = 'Reserva de Contingência'"

df = pd.read_sql_query(query, conn);
df

## Questão 3
$\pi$ VALOR_DESPESA, NOME_ORGAO(DESPESA_PUBLICA $\bowtie$ $\sigma$ NOME_ORGAO='Ministério da Fazenda'(ORGAO))

In [ ]:
query = "SELECT DISTINCT VALOR_DESPESA, NOME_ORGAO\
        FROM DESPESA_PUBLICA NATURAL JOIN ORGAO\
        WHERE NOME_ORGAO = 'Ministério da Fazenda'"

df = pd.read_sql_query(query, conn);
df

## Questão 4
$\pi$ NOME_PROGRAMA_GOVERNO, VALOR_DESPESA(DESPESA_PUBLICA $\bowtie$ $\sigma$ NOME_ORGAO='Ministério da Saúde'(ORGAO) $\bowtie$ PROGRAMA_GOVERNO)

In [ ]:
query = "SELECT DISTINCT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA\
        FROM DESPESA_PUBLICA NATURAL JOIN ORGAO NATURAL JOIN PROGRAMA_GOVERNO\
        WHERE NOME_ORGAO = 'Ministério da Saúde'"

df = pd.read_sql_query(query, conn);
df